header {
    position: relative;
    background-color: goldenrod;
    color: white;
    width: 100vw;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    position: absolute;
    right: 1rem;
    border-radius: 10%;
    border-color: brown;
    border-width: .2rem;
    width: 4rem;
    height: 4rem;
    color: brown;
    background-color: floralwhite;
    font-size: 1rem;
    font-weight: bold;
}

button:hover{
    color: antiquewhite;
    background-color: dimgray;
     border-color: antiquewhite;
}

