<br>
<div class="center">
    <form [formGroup]="data" (submit)="send()">
        <fieldset>
            <label for="email_">email</label>
            <input type="text" id="email" formControlName="email_">
        </fieldset>
        <fieldset>
            <label for="password_">password</label>
            <input type="text" id="password" formControlName="password_">
        </fieldset>
        <button id="send-btn" [disabled]="">iniciar sesion</button> 
    </form>
</div>
<hr>
<br>
<div class="center">
    <form [formGroup]="dataRegister" (submit)="register()">
         <fieldset>
            <label for="name-R">name</label>
            <input type="text" id="name-R" formControlName="name">
        </fieldset>
        <fieldset>
            <label for="email-R">email</label>
            <input type="text" id="email-R" formControlName="email">
        </fieldset>
        <fieldset>
            <label for="evento-fin-R">password</label>
            <input type="text" id="password-R" formControlName="password">
        </fieldset>
        <button id="send-btn-R" [disabled]="">registrarse</button> 
    </form>
</div>

