 <hr>
 <div class="contenedor">
 <b>{{comentario().username}}</b>   
<p class="text">{{comentario().text}}</p> 
 <div class="block sin-borde">
    <label class="heart-checkbox">
        <input type="checkbox" (click)="reaccionar()" [checked]="haveYourReaction()">
         <span class="heart"></span>
    </label>
    <p class="reacciones-numeros">{{comentario().reaccionList.length}}</p>
        <img (click)="crearRespuesta()" [attr.data-id]="" class="comentario-logo" src="https://png.pngtree.com/png-clipart/20221118/ourmid/pngtree-comment-icon-symbol-png-image_6459148.png" alt="">
        <p class="respuestas-numeros">{{comentario().respuestaList.length}}</p>
           @if (respuestasVisible) {
         <a (click)="ocultarRespuestas()" class="puntero">ocultar respuestas</a>   
        }
        @else {
        <a (click)="getRespuestas()" class="puntero">mostrar respuesta</a>
        }
        <br>
    <div class="block">
        @for (respuesta of respuestas; track $index) {
            <app-respuesta [respuesta]="respuesta" (login)="addRespuesta($event)"></app-respuesta>
        }
    </div>
    </div>
    <br>
</div>

