html{
        box-sizing: border-box;
        /* font-size: 20px; */
    }


    *,
    *::before,
     *::after{      /* consejo: esto colocar desde el principio de la hoja css */
        box-sizing: inherit;
    }

    *{
        margin: 0;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }/* You can add global styles to this file, and also import other style files */
